region               = "ca-central-1"
name_prefix          = "demo"
vpc_cidr             = "10.20.0.0/16"
private_subnet_cidrs = ["10.20.1.0/24", "10.20.2.0/24"]

db_name              = "appdb"
db_master_username   = "admin"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
mysql_engine_version = "8.0"
